body {
    font-family: Arial;
    background-color: #d14836;
    line-height: 20px;
}

#section_main {
    min-width: 900px;
}

#section_middle {
    position: relative;
    overflow: auto;
}

#section_top {
    color: #ffffff;
    padding: 15px;
    font-size: 30px;
    line-height: 26px;
}

#section_top h1 {
    margin: 0;
    line-height: 50px;
}

#section_menubar {
    width: 190px;
    float: right;
}

#section_content {
    padding: 10px;
    background-color: #ffffff;
    font: 80% Verdana;
}

#section_content h1,
#section_content h2 {
    color: #d14836;
}

#section_sidebar {
    background-color: #F6DAD7;
    color: #d14836;
    padding: 10px;
}

#section_low {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    color: #ffffff;
}

#section_list {
    padding: 0;
    font: 16px verdana;
}

#section_list_item {
    width: 155px;
    background-color: #d14836;
    border: 1px solid #d14836;
    border-radius: 40px;
    color: #ffffff;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#section_list_item:nth-child(2) {
    background-color: white;
    color: #d14836;
    font-weight: bold;
}

#section_list_item:hover {
    background-color: #ffffff;
    color: #d14836;
}

a {
    color: #d14836;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
